<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Management</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"></head>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

<body>
    <div class="container mt-4">
        <h2>Team Management</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Team Name</th>
                    <!-- Add more headers if needed -->
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ team_id_to_name.get(user.team_id|string, 'No Team') }}</td>
                    <!-- Display additional user fields if needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
